{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(images/pictures/favicon.ico)}}
{{!include(images/pictures/logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  
<script>
    var bannerHTML = '';

    if (window.location.pathname === 'wiki/Home.html' || window.location.pathname === 'wiki/Home') {
        bannerHTML = '<div class="hfubanner"><h2>Learn Spatial! <br/> Introducing the MARBLE App</h2></div>';
    } else {
        bannerHTML = '<div class="hfubanner"><h2>Learn &raquo;{{#title}}{{title}}{{/title}}&laquo;!</h2></div>';		
    }
</script>

  
  {{>partials/head}}

  <body>
        <div class="top-navbar">

            <a class="burger-icon" onclick="toggleMenu()">
                <svg name="Hamburger" 
                    style="vertical-align: middle;"
                    width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M20 6H4V9H20V6ZM4 10.999H20V13.999H4V10.999ZM4 15.999H20V18.999H4V15.999Z"></path></svg>
            </a>

            {{>partials/logo}}

        </div>

        <div class="body-content">

            <div id="blackout" class="blackout" onclick="toggleMenu()"></div>

            <nav id="sidebar"  role="navigation" >

                <div class="sidebar">
                    
                    {{>partials/navbar}}

                    <div class="sidebar-item-separator"></div>

                    {{^_disableToc}}
                        {{>partials/toc}}
                    {{/_disableToc}}

                </div>

                {{>partials/footer}}

            </nav>

            <main class="main-panel">

                {{#_enableSearch}}
                    {{>partials/searchResults}}
                {{/_enableSearch}}


 <div id="bannerPlaceholder"><!-- Hier wird das Banner eingefügt --></div>




                <div role="main" class="main-panel-content hide-when-search" >

                    {{^_disableBreadcrumb}}
                        {{>partials/breadcrumb}}
                    {{/_disableBreadcrumb}}

                    <article class="content wrap" id="_content" data-uid="{{uid}}">
                      {{!body}}
                    </article>
              
                </div>
            </main>
        </div>

        {{>partials/scripts}}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var bannerContainer = document.getElementById('bannerPlaceholder');
            bannerContainer.innerHTML = bannerHTML;
        });
    </script>

    </body>

</html>
